@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&family=Mogra&display=swap');

/* ------------------------------------------------- */

:root {

        --margin_qtr:                       0.25rem;
        --margin_half:                      0.5rem;

        --font_Khand:                       Khand;

        --primary_Colour:                   #C2E2EE;
        --secondary_Colour:                 #649ECB;

}

#topNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
    position: fixed;
    top: 1dvw;
    right: 1dvw;
    z-index: 500;
} 

#topNav a {
    text-decoration: none;
    list-style: none;
    color: #C2E2EE;
    font-size: 1rem;
}

/* DROP DOWN MENU CONTROLS */

.dropdown {
    padding-top: 0.5rem;
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-family: 'Khand';
    background: inherit;
    color: var(--primary_Colour);
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1rem;
    width: clamp(120px, 20vw, 220px);
    text-align: right;
    margin-right: 1.0rem;
}

.dropdown-content {
    position: absolute;
    right: 1dvw;
    backdrop-filter: blur(2.5rem);
    width: clamp(8.0rem, 1.0rem, 5.0rem);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    opacity: 0;
    /* visibility: hidden; */
    visibility: visible;
    transition: ease-in-out 1s;
}

.dropdown-content a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: #C2E2EE;
    font-size: 1.0rem;
    font-weight: 400;
}

.dropdown-content a:hover {
    background-color: inherit;
    transition: ease-in-out 1s;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    /* visibility: visible; */
    visibility: visible;
}

